<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Remote Component Demo</span>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Component URL">
    </mat-form-field>
    <button mat-raised-button color="primary">Load</button>
  </form>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Current Component URL: </mat-card-title>
      <mat-card-subtitle>http://baidu.com</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p *ngIf="true">No component loaded.</p>
      <app-component-outlet></app-component-outlet>
    </mat-card-content>
    <hr>
    <mat-card-actions>
      <button mat-button>Remove</button>
    </mat-card-actions>
  </mat-card>
</main>
